server.port={{ application_port }}
server.connection-timeout=5000
server.tomcat.max-threads=2048
server.tomcat.min-spare-threads=20
server.tomcat.max-connections=15000
server.tomcat.accept-count=500


#spring data jpa for postgres
spring.datasource.url=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/sunbird
spring.datasource.username={{postgresql_username_sunbird }}
spring.datasource.password={{ postgresql_password_sunbird }}
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=false
spring.jpa.hibernate.ddl-auto=update

spring.data.cassandra.local-datacenter=DC1
spring.data.cassandra.startupTimeoutInSeconds=100000
spring.data.cassandra.contact-points={{ sunbird_cassandra_db_host }}
spring.data.cassandra.port=9042
spring.data.cassandra.keyspace-name={{ keyspace_sunbird }}
spring.data.cassandra.username={{ cassandra_username }}
spring.data.cassandra.password={{ cassandra_password }}

cassandra.config.host={{ sunbird_cassandra_db_host }}

playlist.redis.key.mapping={"ORG_FEATURED_COURSES":"orgID_Featured_Courses", "MDO_RECOMMENDED_PROGRAMS":"mdo_Recommended_Programs","MDO_RECOMMENDED_COURSES":"mdo_Recommended_courses","MDO_FEATURED_COURSES":"mdo_Featured_Courses"}

# 1 day in second  1 * 24 * 60 * 60
playlist.redis.ttl=86400
default.content.properties=name,identifier,competencies_v5,avgRating,primaryCategory,contentType,channel,organisation,createdFor,duration,creatorLogo,appIcon,posterImage,additionalTags,description,status,secureSettings
#content-service
content-service-host=http://content-service:9000/
content-read-endpoint=content/v4/admin/read
content-read-endpoint-fields=?fields=primaryCategory,identifier,batches,versionKey,additionalTags
redis.insights.index=12

spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379
spring.redis.cacheTtl=60000
elasticsearch.host={{ elasticsearch_host }}
elasticsearch.port={{ elasticsearch_http_port }}
elasticsearch.username={{ elasticsearch_username }}
elasticsearch.password={{ elasticsearch_password }}
elastic.required.field.json.path=/EsFieldsmapping/esRequiredFieldsJsonFilePath.json
search.result.redis.ttl=600

elastic.required.field.demand.json.path=/EsFieldsmapping/esRequiredFieldsJsonFilePath.json
elastic.required.field.content.json.path=/EsFieldsmapping/cpEsRequiredFieldsJsonFilePath.json
elastic.required.field.interest.json.path=/EsFieldsmapping/interestRequiredFieldsJsonFilePath.json
elastic.required.field.bookmark.json.path=/EsFieldsmapping/bookmarkEsRequiredFieldJsonFilePath.json

##learnerService
learner.service.url=http://learner-service:9000
sb.org.search.path=/v1/org/search
sb.api.key={{ bearer_token }}
bookmark.duplicate.not.allowed.category=MDO_ORG_LIST

sunbird.user.search.endpoint=/private/user/v1/search
lms.user.read.path=/private/user/v1/read/
 
#kafka Server
spring.kafka.bootstrap-servers={{ kafka_servers_list }}
#kafka properties
kakfa.offset.reset.value=latest
kafka.max.poll.interval.ms=15000
kafka.max.poll.records=100
kafka.auto.commit.interval.ms=10000
#kafka topics and group
kafka.topic.demand.request={{ env }}.demand.request
kafka.topic.demand.content.group=demand.request.group
 
#notification-Service
notify.service.host=http://notification-service:9000
notify.service.path.async=/v2/notification/send
notification.support.mail={{ notification_support_mail | default('support@igot-dev.in')}}
demand.request.notification.template=demandCreatetRequestTemplate

accesstoken.publickey.basepath=/keys/
sso.url=https://{{ domain_name }}/auth/
sso.realm={{ keycloak_sso_realm }}
sso.connection.pool.size=20
sso.enabled=true

elastic.required.field.cios.json.path=/EsFieldsmapping/contentEsRequiredFieldsJsonFilePath.json

sb.search.service.host=http://search-service:9000
sb.composite.v4.search=/v4/search
playlist_course_facets=courseCategory,primaryCategory

knowledge.mv.service=http://knowledge-mw-service:5000/
odcs.term.create=v1/framework/term/create
odcs.category.fields=identifier,code,name,description,refId,refType
odcs.framework.create=v1/framework/create
odcs.framework.read=v1/framework/read
odcs.designation.term.read=v1/framework/term/read
framework.copy=v1/framework/copy
framework.publish=v1/framework/publish
kafka.topic.framework.create={{env}}.framework.create
kafka.topic.framework.create.group=framework.create.group

cios.content.service.host=http://cios-content-service:7001
cios.content.service.update.api=/ciosIntegration/v1/update/content
cios.content.service.search.api=/ciosIntegration/v1/search/content
cornell.partner.code=CORNELL
upgrad.partner.code=UPGRAD

#ClientHttpRequestFactory
http.client.request.factory.timeout=45000
http.pooling.client.cm.max.total.connections=2000
http.pooling.client.cm.default.max.per.route=500

# Redis pool configuration
redis.pool.max.total=3000
redis.pool.max.idle=128
redis.pool.min.idle=100
redis.pool.max.wait=5000
redis.connection.timeout=60000

validation.required-fields.educationalQualification=degree,institutionName,startYear,endYear,fieldOfStudy
validation.required-fields.achievement=title,issuedOrganisation,issuedDate,trainingType
validation.required-fields.serviceHistory=orgName,designation
basic.profile.fields=id,channel,firstname,profiledetails,rootOrgId,username
profile.completion.required.fields=employmentDetails,profileImageUrl,locationDetails,profileBannerUrl,serviceHistory,educationalQualifications
profile.completion.extended.fields=serviceHistory,educationalQualifications,locationDetails
profile.completion.field.weight=16.7
context.types=educationalQualifications,achievements,serviceHistory,locationDetails

configmap.community.base.url=http://discussion-metaupdate-service:7002
community.post.count.api.url=/v1/postcount/

redis.host.name={{ kp_redis_ip }}
redis.port={{ redis_port }}

redis.data.host.name={{ redis_host }}
redis.data.port={{ redis_port }}

cb.redis.maxIdle=128
cb.redis.maxTotal=3000
cb.redis.minIdle=100
cb.redis.testOnBorrow=true
cb.redis.testOnReturn=true
cb.redis.testWhileIdle=true
cb.redis.minEvictableIdleTimeMillis=120000
cb.redis.timeBetweenEvictionRunsMillis=30000
cb.redis.numTestsPerEvictionRun=3
cb.redis.blockWhenExhausted=true
cb.data.index=12
cb.cache.ttl=86400
cb.certificate.count.redis.key=user_wise_certificate_count

elasticsearch.userEsClient.host={{ user_es_host_list }}
#elasticsearch.userEsClient.port={{ user_es_port }}
elasticsearch.userEsClient.username=={{ sb_es_username }}
elasticsearch.userEsClient.password={{ sb_es_password }}
user.profile.index=user_alias

sunbird_encryption_key={{sunbird_encryption_key}}

user.basic.details.filtered=profileCompletionPercentage,karmaPoints,certificateCount,postCount
hub.graph.service=http://hub-graph-service:4013/
connection.api=/connections/profile/relationship/
profile.visible.allowed.fields=profileImageUrl,profileStatus,employmentDetails,profilePreference
cb.certificate.count.redis.ttl=14400

#igot elasticsearch cluster
elasticsearch.igotESClient.host={{ elasticsearch_host }}:{{ elasticsearch_http_port }}
#elasticsearch.igotESClient.port={{ elasticsearch_http_port }}
elasticsearch.igotESClient.username={{ elasticsearch_username }}
elasticsearch.igotESClient.password={{ elasticsearch_password }}

es.degree.index.name=degree
es.institute.index.name=institute
es.masterdata.index.doc.type=_doc
master.data.search.string.regex=.*[a-zA-Z0-9].*
master.data.allowed.type=degree,institute

learner.service.host=http://learner-service:9000
password.reset.path=/private/user/v1/password/reset

master.data.search.string.max.length=100

achievement.status.update.required.fields=learnerId,id,status,reason,contextType
elastic.required.field.achievement.json.path=/esFieldsMapping/achievementEsRequiredFieldsMapping.json

achievement.require-es=false
cassandra.fetch.limit=100

user.competency.mapping.event={{env}}.user.competency.mapping.event

validation.allowed-fields.achievement=request,contextType,source,contextData,title,issuedOrganisation,issuedDate,uploadedDocumentUrl,url,description,deliveryMode,startDate,endDate,learningHours,competencies_v6,competencyAreaIdentifier,competencyAreaRefId,competencyAreaName,competencyAreaDescription,competencyThemeIdentifier,competencyThemeRefId,competencyThemeName,competencyThemeType,competencyThemeDescription,competencyThemeAdditionalProperties,competencySubThemeIdentifier,competencySubThemeRefId,competencySubThemeName,competencySubThemeDescription,competencySubThemeAdditionalProperties,displayName,timeStamp,id,trainingType,fileName,certificateType,competencyType,competencyArea,competencyLevel,learnerId,status,reason,learningMinutes

achievement.bulk.list.context.data.fields=title,issuedDate,trainingType,learningHours,uploadedDocumentUrl
achievement.bulk.list.response.fields=userId,orgId,contextType,id,createdOn,contextData

achievement.cache.ttl=1800
cb.badge.count.redis.ttl=14400

content.api.base.url=http://content-service:9000/
content.read.path=content/v3/read/
content.admin.read.api=content/v4/admin/read/

cb.plan.cache.ttl.minutes=60

validation.regex.degree=^[a-z A-Z0-9\u0092\\\\\\s\\(\\)-\\.,;&'/`]+$
validation.regex.fieldOfStudy=^[a-z A-Z0-9\u0092\\\\\\s\\(\\)-\\.,&'/]+$
validation.regex.institute=^[a-z A-Z0-9\u0092\\\\\\s\\(\\)-\\.,;&'/\\"`’]+$

validation.regex.year=^(19|20)[0-9]{2}$
validation.regex.uuid=^[a-zA-Z0-9-]+$

campaign.kafka.topic={{env}}.special.campaign.nlh.sevabhav26
